{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    {% load user_filters %}
    <main class="container" role="main">
        <main class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="h3">
                                    Об авторе
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="h6 text-muted">

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <div class="card-text">
                        <p> Привет! Меня зовут Аня! Мне 20 лет. В программирование "пришла" в 15,
                            училась делать мобильные приложения на Android. Несколько лет
                            развивала айти сообщество Калининграда. Последний год преподавала
                            детям основы Python в школе дополнительного образования.
                            Сейчас пеку десерты.
                        </p>
                    </div>
                </div>
            </div>
        </main>
    </main>
{% endblock %}